* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.pastry-page {
    position:absolute;
    top:10%;
}

.pastry-page div {
    position: relative;
    left: 20vw;
    width: 60vw;
    height: 300px;
    border: 1px solid black;
}