.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.search-input {
    margin-top: 20px;
    padding: 5px 10px;
    border: 2px solid #30011E;
    color: #30011E;
    font-size: 20px;
    border-radius: 2px;
    width: 15rem;
    font-weight: 400;
}

.search-input:focus {
    border-color: #30011E;
}

@media screen and (max-width: 839px) {
    .card-list {
        padding: 10px;
        flex-direction: column;
    }
}