.card-list {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

.search-input {
    z-index: 50;
    position: fixed;
    padding: 5px 10px;
    top: 14px;
    left: 700px;
    border: 2px solid #30011E;
    background-color: white;
    font-size: 20px;
    border-radius: 2px;
    width: 350px;
    font-weight: 400;
}

.search-input:focus {
    border-color: #C84630;
}