.account-page {
    display: flex;
    flex-direction: row;
}

.side-menu {
    width: 250px;
    height: 93.24vh;
    padding-top: 20px;
    background-color: #e7fcf0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-right: 2px solid rgb(17 20 24 / 10%);

}

.side-menu>.heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.side-menu>button {
    width: 150px;
}

.account-page .content {
    padding: 20px;
}