.account-page .content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 270px !important;
}

.side-menu {
    width: 250px;
    height: 100%;
    padding-top: 20px;
    background-color: #e7fcf0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: 2px solid rgb(17 20 24 / 10%);
    text-align: center;
    position: fixed;
    z-index: 3;
}

.side-menu>.username {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 30px;
}

.side-menu>button {
    width: 150px;
    height: 34px;
    border: none;
    border-radius: 2px;
    background-color: #991BE2;
    background-image: linear-gradient(0deg, #7a16b4, #ae47e9);
    color: #E6EAEF;
    border-color: #7a16b4;
    text-shadow: 0 1px 1px #5b1087;
}

.side-menu>button:hover {
    background-color: #7211aaf9;
    background-image: none;
}

.side-menu>button:active {
    background-color: #7211aacf;
    background-image: none;
}

.side-menu .settings-button {
    margin-top: 500px;
}

.account-page .content {
    padding: 20px;
}