nav {
    display: flex;
    align-items: center;
    font-weight: 800;
    padding: 30px 50px !important;
}

nav>div {
    margin: 0 auto;
    width: 100%;
}

nav .bp4-navbar-heading {
    font-size: 36px;
    color: #e7fcf0;
}

nav .bp4-align-right a,
.bp4-popover-content a {
    text-decoration: none !important;
}

.popover-x-button {
    color: red !important;
    margin-left: 170px !important;
}

.bp4-input-group {
    margin: 10px 0;
}

.bp4-input-group div{
    color: red;
    text-shadow: 1px 1px 0.3px black;
}