.navbar {
    width: 100%;
    height: 66px;
    background-color: #30011E;
    padding: 5px 20px;
    z-index: 10;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

.navbar>div {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: #fff;
    height: 100%;
}

.navbar .icon-mark {
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FB3640;
    /* text-shadow: 5px 5px rgba(92, 71, 71, 0.878); */

}

.navbar .icon-mark span {
    color: #FCF7F8;

}

.navbar .button-group {
    width: 550px;
    font-weight: 400;
    height: 100%;
}

.button-group>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.button-group li {
    line-height: 1.15;
    border-radius: 2px;
}

.button-group li:hover {
    background-color: rgba(220, 222, 224, 0.2);
}

.button-group>ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: none;
    box-shadow: none;
    font-size: 14px;
    padding: 7px 0;
    width: 80px;
}

.divider {
    border-left-color: rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(246, 245, 245, 0.564);
    height: 20px;
    margin: 0 10px;
}

/*  popover   */
.popover {
    position: relative;
    display: inline-block;
}

.popover__content {
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: -90px;
    transform: translate(0, 10px);
    background-color: #30011E;
    padding: 24px 24px 8px 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto !important;
    border-radius: 10px;
    width: 220px;
    height: 178px;
    display: flex;
    flex-direction: column;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

/*  login popover box  */
.popover__content .input-container {
    height: 52px;
}

.popover__content .enter-button {
    color: #f6f7f9;
    border: none;
    border-radius: 2px;
    padding: 5px 30px;
}

/* primary button  */
.primary {
    background-color: #01BAEF;

}

.primary:hover {
    background-color: #02abdade !important;
}

/* warning button  */
.warning {
    background-color: #FFBC42;
}

.warning:hover {
    background-color: #e9ad3ce3 !important;
}

.warning:active {
    background-color: #b3842de0 !important;
}

/* success button */

.success {
    background-color: #0CCE6B;
}

.success:hover {
    background-color: #0abc60df !important;
}

.success:active {
    background-color: #0ab15bcf !important;
}

/* danger button */

.danger {
    background-color: #FB3640;
}

.danger:hover {
    background-color: #cf2d35e5 !important;
}

.danger:active {
    background-color: #ab242bd7 !important;
}

/* input */

.input {
    background: #FFFFFC;
    box-shadow: 0 0 0 0 rgb(76 144 240 / 0%), 0 0 0 0 rgb(76 144 240 / 0%), 0 0 0 0 rgb(76 144 240 / 0%), inset 0 0 0 1px rgb(255 255 255 / 20%), inset 0 -1px 1px 0 #8f99a8;
    position: relative;
    width: 200px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 0 10px;
    transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
    vertical-align: middle;
}