* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.user-info {
    position: absolute;
    top:10%;
    width: 100%;
    border-top-color: whitesmoke ;
    background-color: black;
    text-align: center;
    color: whitesmoke;
}