* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.user-area {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    top:10%;
    width: 100%;
    border-top-color: whitesmoke ;
    text-align: center;
    color: whitesmoke;
}
.user-area div  {
    margin: 10% auto;
    border-radius: 10px;
    width:20vw;
    height:300px;
    border: 1px solid whitesmoke;
    background-color: black;
    box-shadow: 1px 3px 10px black;
    cursor: pointer;
}
.user-area div img {
    width:100%;
    height:80%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.user-area div p {
    padding-top: 10px;
}
.user-area div img:hover {
    opacity: 70%;
}