.receipe-form-container {
    margin: 50px;
    width: 900px;
    height: 650px;
    font-weight: 700;
    border: 1px solid black;
    box-shadow: 0 0 0 1px rgb(17 20 24 / 10%), 0 4px 8px rgb(17 20 24 / 20%), 0 18px 46px 6px rgb(17 20 24 / 20%);
}

.receipe-form-container input {
    width: 400px;
    padding: 5px;
    font-size: 18px;
    display: block;
}

.receipe-form-container input:focus {
    border-color: #005499;
}


.receipe-form-container .input-container {
    height: 76px;
}

.description-container {
    height: 320px;
}

.description-container textarea {
    width: 100%;
    height: 280px;
    resize: none;
    font-size: 14px;
    padding: 8px;
    box-sizing: border-box;
}

.receipe-form-container form {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.receipe-form-container .checkbox-container {
    display: flex;
    gap: 30px;
    width: 310px;
    height: 36px;

}

.checkbox-container label {
    width: 40px;
    text-align: center;
    color: green;
}

.checkbox-container input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.input-url {
    font-size: 12px !important;
}

.title-box {
    width: 400px;
}

.save-button {
    height: 40px;
    width: 200px;
    align-self: center;
    background-color: #52C11F;
    background-image: linear-gradient(0deg, #3f9518, #6ade35);
    color: #E6EAEF;
    border-color: #3f9518;
    text-shadow: 0 1px 1px #2d6911;
    border-radius: 2px;
    border: none;
    font-size: 16px;
}

.save-button:hover {
    background-image: none;
    background-color: #45a21ae3;
}

.save-button:active {
    background-color: #398616d1;
}

.error-message {
    line-height: 16px;
    font-size: 12px;
    color: red;
    font-weight: normal !important;
}