.receipe-form-container {
    margin: 50px;
    width: 900px;
    height: 650px;
    font-weight: 700;
    border: 1px solid black;
    box-shadow: 0 0 0 1px rgb(17 20 24 / 10%), 0 4px 8px rgb(17 20 24 / 20%), 0 18px 46px 6px rgb(17 20 24 / 20%);
}

.receipe-form-container input {
    margin-bottom: 15px;
    width: 250px;
    padding: 5px;
    font-size: 18px;
}

.receipe-form-container input:focus {
    border-color: #005499;
}


.receipe-form-container .input-container {
    height: 76px;
}

.receipe-form-container .description-container {
    height: 270px;
}

.receipe-form-container form {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.receipe-form-container .checkbox-container {
    padding: 0 20px;
    margin: -25px 0 10px 0;
    gap: 20px;
    width: 290px;
    height: 36px;
    display: flex;
    color: black !important;
}


.title-box {
    width: 400px;
}

.checkbox-container label {
    width: 40px;
}

.save-button {
    width: 180px;
    align-self: center;
}

.error-message {
    line-height: 16px;
    font-size: 12px;
    text-shadow: 0.5px 0.5px 0.1px black;
    color: red;
    font-weight: normal !important;
}